.pageContainer {
   display: flex;
   justify-content: center;
}

.pageContent {
   border-radius: 10px;
   padding: 0 15px 15px 15px;
   margin: 50px 20px 0 20px;
   max-width: 750px;
   width: 100%;
   background-color: white;
}

.pageContent h2 {
   color: #2c2c2c;
   font-size: 25px;
   margin-bottom: 0px;
}

.imageForm h1,
.formItem  h1 {
   color: #2c2c2c;
   font-size: 16px;
   margin-top: 20px;
}

.formItem {
   display: grid;
}

.formItem input {
   padding: 0 10px 0 10px;
   border-radius: 5px;
   height: 35px;
   width: 100%;
   outline: none;
   border: none;
   background-color: #d7e3ea;
}

.saveButton {
   cursor: pointer;
   border-radius: 5px;
   margin-top: 15px;
   padding: 0 15px 0 15px;
   background-color: #418D89;
   border: none;
   color: white;
   height: 35px;
   width: fit-content;
}

.imageInput {
   cursor: pointer;
   outline: none;
   border-style: dashed;
   border-color: #4f4f4f;
   width: 230px;
   height: 230px;
   color: #4f4f4f;
   display: flex;
   align-items: center;
   text-align: center;
   user-select: none;
}

.imageInput input {
   display: none;
}

.imageContainer {
   height: 230px;
   width: 230px;
   background-color: #2c2c2c;
   border-radius: 5px;
}

.imageUploadContainer {
   display: grid;
   grid-template-columns: auto auto; 
}

@media only screen and (max-width: 560px) {
   .imageUploadContainer {
      display: grid;
      grid-template-columns: auto; 
      row-gap: 25px;
   }
}