.container {
   background: #474747;
   height: 70px;
   flex-direction: row;
   display: flex;
   align-items: center;
}

.logo {
   margin-left: 10vw;
   margin-right: 25px;
   user-select: none;
}

.logo:hover {
   cursor: pointer;
}

.searchBoxContainer {
   display: flex;
   align-items: center;
   background: white;
   border-radius: 10px;
   max-width: 625px;
   height: 35px;
   margin-right: 10px;
   flex-grow: 1;
}

.searchIcon {
   margin-left: 5px;
   user-select: none;
}

.searchBox {
   padding-left: 10px;
   margin-right: 10px;
   background: transparent;
   border-radius: 10px;
   height: 35px;
   width: 100%;
   border-style: none;
}

.searchBox:focus {
   outline: none;
}

.navButtonContainer {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   margin-right: 5vw;
   flex-grow: 1;
}

.navItem {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 45px;
   height: 45px;
   margin-right: 15px;
   background-color: white;
   border-radius: 50%;
   border-style: none;
   transition: 300ms;
   user-select: none;
}

.navItem:hover {
   background-color: #C2CCCD;
   cursor: pointer;
}

.signInContainer {
   background-color: #474747;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border-radius: 3.5%;
   padding: 10px;
}

.closeModal {
   animation: fadeOut 150ms forwards;
   pointer-events: none;
}

.openModal {
   animation: fadeIn 150ms forwards;
}

@keyframes fadeIn {
   from {opacity: 0; top: 45%}
   to {opacity: 1; top: 50%}
}

@keyframes fadeOut {
   from {opacity: 1; top: 50%;}
   to {opacity: 0; top: 45%;}
}

/*
   for smaller broswer window
*/
@media only screen and (max-width: 600px) {
   .signInContainer {
      width: 450px;
      height: 400px;
   }
}

/* 
   for larger broswer window
*/
@media only screen and (min-width: 600px) {
   .signInContainer {
      width: 600px;
      height: 500px;
   }
}