.menuContainer {
   width: 200px;
   position: absolute;
   background-color: rgb(196, 142, 140);
   border-radius: 0.5rem;
   filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.5));
   display: flex;
   flex-direction: column;
   z-index: 2;
}

.openModal {
   animation: fadeIn 200ms forwards;
}

.closeModal {
   animation: fadeOut 200ms forwards;
   pointer-events: none;
}

@keyframes fadeIn {
   from {opacity: 0; top: 50px}
   to {opacity: 1; top: 85px}
}

@keyframes fadeOut {
   from {opacity: 1; top: 85px;}
   to {opacity: 0; top: 50px;}
}


.menuHead {
   display: flex;
   align-items: center;
   margin: 1rem;
}

.menuHead p {
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}

.userIcon {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: white;
   border-radius: 50%;
   width: 3rem;
   height: 3 rem;
   margin-right: 1rem;
   user-select: none;
}

.menuButton {
   display: flex;
   background-color: transparent;
   border-style: none;
   transition: 300ms;
   padding-left: 1rem;
   width: 100%;
   height: 100%;
}

.menuButton p {
   font-size: 15px;
   cursor: pointer;
}

.menuButton:hover {
   background-color: rgb(187, 97, 94);
   border-radius: 0.5rem;
}

