.menuBackground {
   position: fixed;
   left: 50%;
   top: 0;
   transform: translateX(-50%);
   width: 100vw;
   height: 100vh;
   background-color: black;
   z-index: 3;
}

.closeMenuBackground {
   animation: backgroundFadeOut 200ms  forwards;
}

.openMenuBackground {
   animation: backgroundFadeIn 200ms  forwards;
}

@keyframes backgroundFadeIn {
   from {opacity: 0;}
   to {opacity: 0.8;}
}

@keyframes backgroundFadeOut {
   from {opacity: 0.8;}
   to {opacity: 0;}
}

.closeMenu {
   animation: menuFadeOut 200ms forwards;
}

.openMenu {
   animation: menuFadeIn 200ms forwards;
}

@keyframes menuFadeIn {
   from {opacity: 0; top: 20%}
   to {opacity: 1; top: 50%}
}

@keyframes menuFadeOut {
   from {opacity: 1; top: 50%;}
   to {opacity: 0; top: 20%;}
}

.container {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   max-width: 700px;
   width: 100%;
   
   background-color: white;
   border-radius: 5px;
   z-index: 4;
   padding: 45px;
}

.title {
   color: #4f4f4f;
   font-size: 1.5rem;
}

.formContainer {
   display: grid;
   grid-template-columns: repeat(2, minmax(150px, 1fr));
   column-gap: 10px;
}

.formContainer div input {
   width: 100%;
   height: 40px;
   padding: 10px;
   outline: none;
   border: none;
   border-radius: 5px;
   background-color: #d7e3ea;
}

.formContainer div p {
   margin-bottom: 10px;
}

.formButtons {
   display: flex;
   justify-content: flex-end;
}

.save {
   cursor: pointer;
   color: white;
   width: 75px;
   height: 30px;
   background-color: #418D89;
   border: none;
   border-radius: 5px;
   margin-right: 10px;
}

.delete {
   cursor: pointer;
   color: #242424;
   width: 75px;
   height: 30px;
   border: none;
   border-radius: 5px;
}