.editWrapper {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0%;
   left: 0%;
   z-index: 1;
}

.menuBackground {
   position: fixed;
   left: 50%;
   top: 0;
   transform: translateX(-50%);
   width: 100vw;
   height: 100vh;
   background-color: black;
}

.closeMenuBackground {
   animation: backgroundFadeOut 200ms  forwards;
}

.openMenuBackground {
   animation: backgroundFadeIn 200ms  forwards;
}

@keyframes backgroundFadeIn {
   from {opacity: 0;}
   to {opacity: 0.8;}
}

@keyframes backgroundFadeOut {
   from {opacity: 0.8;}
   to {opacity: 0;}
}

.closeMenu {
   animation: menuFadeOut 200ms forwards;
}

.openMenu {
   animation: menuFadeIn 200ms forwards;
}

@keyframes menuFadeIn {
   from {opacity: 0; top: 20%}
   to {opacity: 1; top: 50%}
}

@keyframes menuFadeOut {
   from {opacity: 1; top: 50%;}
   to {opacity: 0; top: 20%;}
}

.container {
   position: fixed;
   left: 50%;
   transform: translate(-50%, -50%);
   max-width: 700px;
   min-width: 500px;
   width: 100%;
   background-color: white;
   border-radius: 5px;
   z-index: 4;
   padding: 45px;
}

.title {
   color: #4f4f4f;
   font-size: 1.5rem;
   text-align: left;
}

.formContainer {
   display: grid;
   grid-template-columns: repeat(2, minmax(150px, 1fr));
   column-gap: 10px;
}

.formContainer > div > p {
   color: black;
   text-align: left;
}

.formContainer > div:not(:first-child) > div{
   width: 100%;
}

.formContainer div input,
.scoreInputContainer {
   width: 100%;
   height: 40px;
   padding: 10px;
   outline: none;
   border: none;
   border-radius: 5px;
   background-color: #d7e3ea;
}

.scoreInputContainer input {
   display: none;
}

.scoreInput {
   float: left;
}

.scoreInput > label{
   padding-right: 5px;
   color: grey;
   float: right;
}

.scoreInput > input:checked ~ label,
.scoreInput > label:hover ~ label {
   color: #418D89
}

.scoreInput > label {
   transition: all .4s ease-in-out;
}

.scoreInput > label:hover {
   color: #418D89;
   transform: scale(1.2);
}

.formContainer div p {
   margin-bottom: 10px;
}

.formButtons {
   display: flex;
   justify-content: flex-end;
   margin-top: 10px;
}

.save {
   cursor: pointer;
   color: white;
   width: 75px;
   height: 30px;
   background-color: #418D89;
   border: none;
   border-radius: 5px;
   margin-right: 10px;
}

.delete {
   cursor: pointer;
   color: #242424;
   background-color: #d7e3ea;
   width: 75px;
   height: 30px;
   border: none;
   border-radius: 5px;
}

.statusDropdown {
   position: absolute;
   z-index: 1;
   background-color: #d7e3ea;
   border-radius: 5px;
   box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
   display: grid;
   grid-template-columns: auto;
}

.statusDropdown button {
   border-style: none;
   background-color: transparent;
   padding: 10px 30px 10px 30px;
   border-radius: 5px;
   transition: 300ms;
}

.statusDropdown button:hover {
   border-style: none;
   background-color: #acc5d3;
}

.closeDropdown {
   animation: dropDownFadeOut 200ms forwards;
}

.openDropdown {
   animation: dropDownFadeIn 200ms forwards;
}

@keyframes dropDownFadeIn {
   from {opacity: 0; top: 30%}
   to {opacity: 1; top: 40%}
}

@keyframes dropDownFadeOut {
   from {opacity: 1; top: 40%;}
   to {opacity: 0; top: 30%;}
}