.headerImageContainer {
   display: flex;
}

.headerContainer {
   background-color: white;
   display: flex;
   justify-content: center;
}

.headerText {
   position: relative;
   height: 100%;
   max-width: 1000px;
   width: 100%;
   margin-left: 10px;
   margin-right: 10px;
   overflow: hidden;
}

.headerText h1 {
   font-size: 1.2rem;
   margin: 0;
   padding-top: 30px;
   padding-bottom: 10px;
   color: #2c2c2c;
}

.headerText p {
   color: #4f4f4f;
   margin: 0;
   padding-bottom: 10px;
}

.readMore {
   text-align: center;
   color: transparent;
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   margin-left: auto;
   margin-right: auto;
   padding-top: 20px;
   padding-bottom: 10px;
   transition: 300ms;
   cursor: pointer;
}

.readMore:hover {
   color: #2c2c2c;
}

.coverImageContainer {
   margin: 15px;
}

.addButtonContainer {
   display: flex;
   color: white;
   margin-top: 5px;
}

.addButton {
   flex-grow: 1;
   position: relative;
   text-align: center;
   padding: 5px;
   background-color: #418D89;
   border-radius: 5px 0 0 5px; 
   transition: 300ms;
}

.addButtonOptions {
   position: relative;
   cursor: pointer;
   padding: 5px;
   background-color: #52ADA8;
   border-radius: 0 5px 5px 0;
   user-select: none;
}

.optionsContainer {
   box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
   width: 150px;
   background-color: white;
   border-radius: 5px;
   position: absolute;
   right: 0px;
   opacity: 0;
}

.openOptions {
   animation: optionsFadeIn 200ms  forwards;
}

.closeOptions {
   animation: optionsFadeOut 200ms  forwards;
}

@keyframes optionsFadeIn {
   from {opacity: 0; bottom: -55px; pointer-events: none;}
   to {opacity: 1; bottom: -65px;}
}

@keyframes optionsFadeOut {
   from {opacity: 1; bottom: -65px;}
   to {opacity: 0; bottom: -55px; pointer-events: none;}
}

.optionsContainer div {
   color: #4f4f4f;
   padding: 5px;
   font-size: 0.9rem;
   text-align: center;
   border-radius: 5px;
}

.optionsContainer div:hover {
   background-color: #418D89;
   color: white;
}

.contentContainer {
   display: grid;
   grid-template-columns: 200px auto;
   max-width: 1215px;
   margin: auto;
}

.sideBar {
   display: grid;
   grid-template-columns: auto;
   row-gap: 20px;
   margin-top: 110px;
   background-color: white;
   border-radius: 5px;
   padding: 8px;
}

.sideBar div h4 {
   color: #2c2c2c;
   margin: 0;
   font-size: 0.8rem;
}

.sideBar div p {
   color: #4f4f4f;
   margin: 5px 0 0 0;
   font-size: 0.8rem;
}