.title {
	color: #4f4f4f;
}

.seeAll {
	color: #4f4f4f;
	margin-left:  auto;
	margin-top: auto;
	cursor: pointer;
	transition: 300ms;
}

.seeAll:hover {
   color: #418D89;
}

.displayBarInfoContainer {
   display: flex;
}

.displayBarContainerWrapper {
	display: flex;
	justify-content: center;
	margin-left: 1rem;
	margin-right: 1rem;
}

.displayBarContainer {
	display: flex;
	flex-direction: column;
}

.animeBarContainer {
	display: flex;
	gap: 10px;
}

.animeCard {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.animeCard:hover .animeCardTitle {
	color: #418D89;
}

.animeCardTitle {
	color: #4f4f4f;
	transition: 300ms;
}