.displayBarContainer {
	display: flex;
	justify-content: center;
	margin-left: 1rem;
	margin-right: 1rem;
}

.displayBarInfoContainer {
   display: flex;
}

.title {
	color: #4f4f4f;
}

.seeAll {
	color: #4f4f4f;
	margin-left:  auto;
	margin-top: auto;
	cursor: pointer;
	transition: 300ms;
}

.seeAll:hover {
   color: #418D89;
}

.animeBarContainer {
	display: flex;
}

.animeCard {
	cursor: pointer;
}

.animeCard:hover .animeCardTitle {
	color: #418D89;
}

.animeTitleContainer {
	display: flex;
	justify-content: center;
	margin-left: 1rem;
	margin-right: 1rem;
}

.animeTitle {
	color: #4f4f4f;
	transition: 300ms;
}