.grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
   row-gap: 10px;
   column-gap: 20px;
   justify-content: center;
   padding: 20px 80px 0px 80px;
}

.test {
   width: 200px;
   height: 200px;
   position: relative;
}