.displayBarContainerWrapper {
	display: flex;
	justify-content: center;
}

.displayBarContainer {
	display: flex;
	flex-direction: column;
	width: 80vw;
}

.displayBarInfoContainer {
   display: flex;
}

.title {
	color: #4f4f4f;
}

.seeAll {
	color: #4f4f4f;
	margin-left:  auto;
	margin-top: auto;
	cursor: pointer;
	transition: 300ms;
}

.seeAll:hover {
   color: #418D89;
}

.animeBarContainer {
	display: flex;
	justify-content: space-between;
	gap: 5px;
}

.animeCard {
	max-width: 200px;
	width: 100%;
	cursor: pointer;
	display: flex;
	flex-direction: column;
}

.animeCard:hover .animeTitle {
	color: #418D89;
}

.animeTitle {
	color: #4f4f4f;
	transition: 300ms;
}