/* semi transparent div background covering entire page when signin popup appears */
.signInContainerBackground {
   background-color: black;
   position: absolute;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   z-index: 2;
}

/* fade in/out animations for semi transparent background */ 
.closeBackground {
   animation: backgroundFadeOut 200ms  forwards;
   pointer-events: none;
}

.openBackground {
   animation: backgroundFadeIn 200ms  forwards;
}

@keyframes backgroundFadeIn {
   from {opacity: 0;}
   to {opacity: 0.8;}
}

@keyframes backgroundFadeOut {
   from {opacity: 0.8;}
   to {opacity: 0;}
}

.signInContainer {
   display: flex;
   align-items: center;
   background-color: #474747;
   position: absolute;
   left: 50%;
   top: -45%;
   transform: translate(-50%, 45%);
   z-index: 3;
   border-radius: 1rem;
   padding: 1.5rem;
}

/* fade in/out animations for signin popup */
.closeModal {
   animation: fadeOut 200ms forwards;
   pointer-events: none;
}

.openModal {
   animation: fadeIn 200ms forwards;
}

@keyframes fadeIn {
   from {opacity: 0; top: 40%}
   to {opacity: 1; top: 50%}
}

@keyframes fadeOut {
   from {opacity: 1; top: 50%;}
   to {opacity: 0; top: 40%;}
}

.signInFormContainer {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   height: 100%;
}

.signInImage {
   user-select: none;
   margin-bottom: 30%;
   margin-left: 10%;
   margin-right: 10%;
}

.inputField {
   background-color: #474747;
   margin-bottom: 0.8rem;
   height: 3rem;
   border-width: 2px;
   border-radius: 1rem;
   border-color: #418D89;
   border-style: solid;
   padding: 0 0 0 1rem;
   color: white;
}

.inputField:focus {
   outline: none;
}

.submit {
   user-select: none;
   display: flex;
   align-items: center;
   margin: 0.5rem auto 0.5rem auto;
   background-color: #418D89;
   border-style: none;
   cursor: pointer;
   border-radius: 0.5rem;
   height: 3rem;
   transition: 150ms;
   margin-bottom: 0;
}

.submit:hover {
   background-color: #52ADA8;
}

.signUp {
   font-family: "Times New Roman", Times, serif;
   font-size: 0.9rem;
   background-color: transparent;
   border-style: none;
   color: #418D89;
   transition: 150ms;
   cursor: pointer;
}

.signUp:hover {
   color: #52ADA8;
}

.error {
   display: flex;
   background-color: #d43c31;
   border-radius: 0.5rem;
   color: white;
   font-size: 0.85rem;
   padding: 0.5rem;
   margin-bottom: 0.8rem;
}

.error button {
   font-size: 2rem;
   color: #b8b8b8;
   background-color: transparent;
   border-style: none;
   margin-left: auto;
   transition: 150ms;
}

.error button:hover {
   color: white;
}

/*
   for smaller broswer window
*/
@media only screen and (max-width: 700px) {
   .signInContainer {
      flex-grow: 1;
      width: 100vw;
      height: auto;
   }
}

/* 
   for larger broswer window
*/
@media only screen and (min-width: 700px) {
   .signInContainer {
      width: 34.375rem;
      height: auto;
   }
}