.carouselContainer {
   user-select: none;
   overflow: hidden;
}

.carouselInner {
   display: flex;
   position: relative;
}

.carouselItem {
   flex-shrink: 0;
   width: 100%;
}

.carouselTextOverlay {
   color: white;
   position: absolute;
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.20));
   z-index: 1;
   width: 100%;
   height: 100%;
}